.popup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 540px;
    left: 50%;
    height: 100%;
    background: transparent;
    z-index: 20;
}

#loadBlock:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

#loadBlock:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    z-index: -1;
}

#popup2:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

#popup2:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

/* From here on, just aesthetics */

.faq-wrapper {
    display: none;
    padding: 10px;
    width: 540px;
    position: relative;
    margin: 0 auto;
    height: 100%;
    background: transparent;
    z-index: 20;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

label img, label p {
    display: inline-block;
    vertical-align: top;
}

label img {
    margin-right: 10px;
    height: 1.4em;
}

label p {
    line-height: 1.4em;
    color: #55984a;
}

label {
    position: relative;
    display: block;
    margin: 0 0 0 16px;
    border-bottom: 1px solid #f0f0f0;
    background: #fff;
    font-size: 1em;
    line-height: 1.2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

label:after {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -10px;
    height: 20px;
    content: '>';
    line-height: 20px;
    transform: rotate(90deg);
}

section {
    overflow: hidden;
    height: 0;
    transition: .3s all;
}

#question1:checked ~ label[for*='1']:after,
#question2:checked ~ label[for*='2']:after,
#question3:checked ~ label[for*='3']:after,
#question4:checked ~ label[for*='4']:after,
#question5:checked ~ label[for*='5']:after,
#question6:checked ~ label[for*='6']:after {
    transform: rotate(270deg);
}

#question1:checked ~ #answer1,
#question2:checked ~ #answer2,
#question3:checked ~ #answer3,
#question4:checked ~ #answer4,
#question5:checked ~ #answer5,
#question6:checked ~ #answer6 {
    height: auto;
}

section p {
    margin: 0;
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
    color: rgba(0, 0, 0, 0.74);
    font-size: 1.1em;
    font-family: 'Alegreya Sans', sans-serif;
    line-height: 1.2em;
}

h1 {
    overflow: hidden;
    font-family: 'Josefin Slab', serif;
    font-size: 40px;
}

[class*='close-'] {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
}

.close-classic:after {
    content: 'X'; /* ANSI X letter */
}

#graph_example {
    height: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}

.pop-up-flex-item {
    display: flex;
    align-items: center;
}

section ol {
    list-style: upper-alpha;
    text-align: start;
    list-style-position: inside;
}

li {
    color: rgba(0, 0, 0, 0.74);
    font-size: 1.1em;
    font-family: 'Alegreya Sans', sans-serif;
}

