/* ----------------------------- */
/* BODY STYLES */
/* ----------------------------- */
html, body {
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Sans-serif;
    color: #2c3e50;
    background-color: #f9fefd;
    overflow: hidden;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 60px;
    max-height: 60px;

}

#mainSection {
    flex-basis: auto; /* default value */
    flex-grow: 10;
    display: flex;

}

#headerFlex {
    flex-basis: auto; /* default value */
    flex-grow: 1;
    display: flex;

}

.main-body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
}

.body-container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

#jsonSideBar {
    overflow: auto;
    padding: .5rem;
    border-color: white;
    border-width: 10px;
    background-color: #41535b;
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    visibility: hidden;

}

#mynetwork {
    padding: 1%;
    width: 100%;
}

.flex-item {
    flex: 1 1 auto;
    display: flex;
    margin-top: 0.5em;
}

header {
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#logo {
    cursor: pointer;
    height: 50px;
    width: auto;
    margin: 5px;
    display: inline-block;
}

.logoDiv {
    cursor: pointer;
    height: 3em;
    width: auto;
    display: inline-block;
    flex: 0.1;
}

/* ----------------------------- */
/* header  */
/* ----------------------------- */

h5 {

    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    text-transform: none;
    font-size: 2.4vw;
    color: #000;
    text-align: right;
    margin-top: -1px;

}

@media screen and (max-width: 700px) {
    #headerFlex {
        visibility: hidden;
        display: none;
    }
}

#story-search-button {
    margin-right: 1px;

}

#story-search-container {
    flex-basis: auto; /* default value */
    flex-grow: 1;
    display: flex;
}

.story-type {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 1em;
    margin-top: 1em;
}

#hot-button {

}

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

header ul li {
    display: inline-block;
    margin-right: 1.1em;
    margin-top: 1em;
}

header li a#active-page {
    border-bottom: 3px solid #27ae60;
}

/* header  Link Styles */
header li a:link,
header li a:visited {
    color: #2c3e50;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s;
}

header li a:hover,
header li a:active {
    border-bottom: 3px solid #27ae60;
}

input[type="search"] {
    height: 2em;
    margin-right: 1em;
    padding: 1em .5em 1.2em 1em;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    font-size: .75em;
    transition: border 0.2s;
}

input[type="search"]:hover {
    border: 1px solid #27ae60;
}

input[type="search"]:focus {
    outline: none;
    border: 1px solid #27ae60;
    box-shadow: 0 0 2px #27ae60;
    background-color: #c2cde6;
}

input[type="button"] {
    background-color: #f9fefd;
    border: 1px solid #27ae60;
    border-radius: 5px;
    color: #000;
    font-size: 0.9rem;
    font-family: 'Alegreya Sans', sans-serif;
}

input[type="button"]:hover,
input[type="button"]:focus {
    cursor: pointer;
    background-color: #10715e;
    outline: none;
}

input.active {
    background-color: #10715e;
}

/* ----------------------------- */
/* SIDEBAR */
/* ----------------------------- */

.json-formatter-dark.json-formatter-row .json-formatter-string {
    white-space: pre-wrap;
    color: #ffb7b7;
    font-size: 1rem;
}

#nprogress .bar {
    height: 5px;
}

#helpLogo {
    margin-left: 1em;
    margin-top: 0.5em;
    margin-right: 0.2em;
}

#mainText {
    justify-content: center;
    margin-top: 0.7em;
}